# Virtual env
e2e/
.e2e/

# MLflow local runs
mlruns/
artifacts/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Pytest cache (you disabled it, but just in case)
.pytest_cache/

# OS/editor
.vscode/
.idea/
.DS_Store
